
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | DhyanAI</title>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      color: #333;
  
      /* Add top padding to create space below the navbar */
    }

    .aws-logo {
      width: 80px !important; /* Small size for the icon */
      margin-left: 10px; /* Space between text and logo */
      vertical-align: middle; /* Align vertically in the middle of the text */
    }

    .container{
    padding: 80px;
}

   
  </style>
</head>

<body>
  <div class="container">
  <div class="row mb-4">
    <div class="col-md-8">
      <h1>Welcome to TejasAI</h1>
      <p>Tejas AI is an innovative platform designed to bring AI-powered solutions to Track and Monitor CO2 footprint of users. With seamless integration, personalized recommendations, and secure authentication via AWS Cognito, TejasAI offers a simple yet powerful experience to Reduce your CO2 Footprint. Explore the potential of artificial intelligence in the most accessible way possible, while keeping your data safe and secure.</p>

<br>
      <!-- Login Form -->
      <p class="aws-cognito-text">Sign in using AWS Cognito for secure and seamless authentication.</p>

      <a href="/login" type="submit" class="btn btn-primary">Login</a>
     
    </div>
    <div class="col-md-3">
      <div class="content-section">
        <img src="public//aiman.png" alt="App Image">
        
      </div>
    </div>
  </div>
</div>
</body>
</html>
